<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kay87.team.dao.BuyMapper">
	
<!-- 검색한 생선리스트 가져오기 -->
	<select id="getFishName" parameterType="string" resultType="FishList">
		
		select * from fishList
		where fishName LIKE '%' || #{search} || '%'
	
	</select>
	
<!-- 구매글 올리기	 -->
	<insert id="insertBuyList" parameterType="BuyList">
	
		insert into buyList
		(
			buyNum,
			fishName,
			buyerId,
			registDate,
			uploadDate,
			deadline,
			weight,
			saleStatus,
			price,
			successSellerId,
			buyListComment,
			location
		)
		values
		(
			#{buyNum.nextval},
			#{fishName},
			#{buyerId},
			#{registDate},
			#{uploadDate},
			#{deadline},
			#{weight},
			#{saleStatus},
			#{price},
			#{successSellerId },
			#{buyListComment},
			#{location}
		)

	</insert>
	
<!-- 사용자의 판매이력 가져오기(중복된 판매자는 제외) -->
	<select id="getHistorySellerId" parameterType="string" resultType="BuyList">
		
		SELECT * FROM buyList 
 		WHERE ROWID IN(SELECT MAX(ROWID) FROM buyList 
 		where buyerid = #{id}
 		GROUP BY successsellerId) 
 		and successsellerId is not null
 		
	</select>
	
	<select id="getSuccessBuyList" parameterType="string" resultType="BuyList">
	
			SELECT
				buyNum,
				fishName,
				buyerId,
				registDate,
				uploadDate,
				deadline,
				weight,
				saleStatus,
				price,
				successSellerId,
				buyListComment,
				location 
			FROM 
				buyList
				
			WHERE buyerId = #{search}

	</select>

			




	
<!--전체구매리스트, 검색(getTotal),  -->	
	<select id="allBuyList" resultType="BuyList" parameterType="string">
		select 
			fishName, location, weight, price, buyerId
		from 
			BuyList
		where
			fishName like '%' || #{searchText} || '%'
		and 
			saleStatus = 'onSale'				
	</select>

	<select id="getTotal" resultType="int" parameterType="string">
		select count(*) from BuyList
		where
			fishName like '%' || #{searchText} || '%'
	</select>
	
	
	
	
	
<!--나의구매리스트, 검색(mygetTotal),  -->		
	<select id="myBuyList" resultType="BuyList" parameterType="string">
		select 
			fishName, location, weight, price, buyerId
		from 
			BuyList
		where	
		<!-- 	fishName like '%' || #{searchText} || '%'			
		and  -->
			buyerId = #{buyerId}
		and
			saleStatus = 'onSale'				
	</select>	
	
	<select id="mygetTotal" resultType="int" parameterType="string">
		select count(*) from BuyList
		where
		<!-- 	fishName like '%' || #{searchText} || '%'
		and -->
			buyerId = #{buyerId}		
	</select>
	
	<!-- <select id="getBoardListMap" resultType="Board" parameterType="map">
	select 
		boardnum, 
	    userid,
	    title,
	    content,
	    hitcount,
	    to_char(regdate, 'YYYY/MM/DD')as regdate      
	from board3
	<if test="_parameter!=null">
	where
   		${search} like '%'||#{searchText}||'%'
	and schoolnum = #{schoolnum}
   </if>
   </select> -->

	<select id="GetTotalListCount" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM buyList <if test="_parameter != null"> WHERE buyerId = #{search}  </if>
	</select>

</mapper>