<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.kay87.team.vo.MemberInfo" alias="Member"/>
		<typeAlias type="com.kay87.team.vo.BuyList" alias="BuyList"/>
		<typeAlias type="com.kay87.team.vo.FishList" alias="FishList"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="MemberMapper.xml" />
		<mapper resource="BuyMapper.xml" />
	</mappers>
</configuration>