/* .google-visualization-atl .legend
{
	font-size:20px !important;
} */

		 #contain
		{
			width:1100px;
			margin: 0 auto;
			overflow: hidden;
		}
		 #contain div{
			border:1px solid #cccccc;
			padding:5px;
			margin: 5px;
			text-align: center;
		}
		
		#list {
			border:1px solid #cccccc;
			width:1100px;
			margin: 0 auto;
			overflow: hidden;
			box-sizing: true
		}

    .tooltip
    {
    	display:none;
    	position:absolute;
    	border:1px solid #333;
    	background-color:#161616;
    	border-radius:5px;
    	padding:10px;
    	color:#fff;
    	font-size:3.5em;
    	text-align: center;
    	z-index: 1000;
    }

.smallList{
	width:1100px;
	height:300px;
	margin: 0 auto;
    border:0px;	
     display: flex;
}
.smallList .flexs {
    flex-grow: 1;
  }
  

		#header{
			width:180px;
			
			line-height:100px;
			
			color:#666;
			font-size:100px;
			text-align:center;
		}
		

		#nav{
			width:1080px;
		}

    #nav .items {
    border:0px;	
    display: flex;
    flex-direction: row;
    height:80px;

  }
  #nav .item
  {
    line-height: 80px;
    list-style: none;
    margin:0px;
    flex-grow: 1;
    //border:0;
  }
   /* #nav .item:nth-child(1)
  {

  } */
  
  #tab .item:nth-child(3)
  {
  	border:0px;	
    list-style: none;
    margin:0px;
    flex-grow: 1;
  }


* { margin:0; padding:0; }
ul,li { list-style:none; }
a { text-decoration:none; color:#000; }
.tab { border:1px solid #ddd; border-left:none; background:#fff; overflow:hidden; }
.tab li { float:left; width:33.3%; border-left:1px solid #ddd; text-align:center; box-sizing:border-box; }
.tab li { display:inline-block; padding:20px; cursor:pointer; }
.tab li.on { background-color:#eee; color:#f00; }
.tab_con { clear:both; margin-top:5px; border:1px solid #ddd; }
.tab_con div { display:none; height:100px; background:#fff; line-height:100px; text-align:center; }
