		div{
			border:1px solid #cccccc;
			padding:5px;
			margin: 5px;
			text-align: center;
		}

    .tooltip
    {
    	display:none;
    	position:absolute;
    	border:1px solid #333;
    	background-color:#161616;
    	border-radius:5px;
    	padding:10px;
    	color:#fff;
    	font-size:3.5em;
    	text-align: center;
    }

		#contain
		{
			width:1000px;
			margin: 0 auto;
			overflow: hidden;
		}

		#header{
			width:980px;
			
			line-height:100px;
			
			color:#666;
			font-size:100px;
			text-align:center;
		}

		#nav{
			width:980px;
			height:200px;
		}

    #nav .items {
    display: flex;
    flex-direction: row;
    height:130px;

  }
  #nav .item{
    line-height: 130px;
    list-style: none;
    margin:0px;
    flex-grow: 1;
    //border:0;
  }
   /* #nav .item:nth-child(1)
  {

  } */

