/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Droid Sans', sans-serif;
	font-size:100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* 여기가 메인 */
.message.warning  {
	background: rgba(255, 255, 255, 0.33);
	-moz-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
    -webkit-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
    box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     margin:0 auto;
     margin-top:30px;
}
.login-head {
	padding: 2em 0;
	background: #6D4A70;
	position:relative;
}
.login-head h1 {
	color: #fff;
	font-size: 1.5em;
	text-align: left;
	margin: 0 23px;
}
form {
	/* padding: 3em 2em; */
	background: #F2F2F2;
	
}
form li{
	border: 2px ridge rgba(187, 185, 189, 0.11);
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-o-border-radius:0.3em;
	list-style:none;
	margin-bottom:12px;
	background:#F0EEF0;

}
.button {
	
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}
.button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

input[type="text"], input[type="password"] {
	font-family: 'Droid Sans', sans-serif;
	width:70%;
	padding: 0.5em 2em 0.5em 1em;
	color: #B8B8B8;
	font-size:20px;
	outline: none;
	background: none;
	border:none;
}
input[type="text"]:hover, input[type="password"]:hover{
	color:#9E61A3;
	
}
.submit h4 a{
	float:left;
	font-size: 16px;
	color: #999;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
	margin-top: 15px;
	margin-left: 21px;
}
.submit h4 a:hover{
	color:#8D4294;
}
/*************************/


/*----*/
/* footer */

.message {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 2px rgba(0,0,0,0.4);
	position: relative;
}
.warning {
	text-align: center;
	margin: 14% auto;
	width: 280px;
	background: rgba(82, 97, 97, 0.68);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
}
.alert-close {
	
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 12px;
	top: 34px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	width: 30px;
}
/*-----start-responsive-design------*/
@media (max-width:1440px){
.message.warning {
		margin: 11% auto 0;
		width: 30%;
	}
	.footer {
	left: 44%;
	}
}
@media (max-width:1366px){
	.message.warning{
		margin: 7% auto 0;
		width: 35%;
	}
	.footer {
		left: 43%;
		bottom: 9%;
	}
}
@media (max-width:1280px){
	.message.warning {
		margin: auto 0;
		width: 800px;
		height: 670px;
	
	}
	.footer {
		left: 43%;
	}
}
@media (max-width:1024px){
	.message.warning{
		margin: auto 0;
		width: 47%;
	}
	.footer {
		left: 41%;
	}
}
@media (max-width:768px){
	.message.warning{
		margin: auto 0;
		width: 65%;
	}
	.footer {
		left: 38%;
		bottom:87px;
	}
}
@media (max-width:640px){
	.message.warning{
		margin: auto 0;
		width: 67%;
	}
	.footer {
		left: 35%;
		bottom:87px;
	}
}
@media (max-width:480px){
	.message.warning  {
		margin: auto 0;
		width:90%;
	}
	.footer {
		left: 33%;
		bottom: 136px;
	}
}
@media (max-width:320px){
	.message.warning  {
		margin: auto 0;
		width:90%;
	}
	.login-head {
	padding: 1.45em 0;
	}
	.login-head h1 {
	font-size: 1.15em;
	}
	.icon {
		margin: -33px 9px 9px 0px;
	}
	input[type="text"], input[type="password"] {
		font-size: 16px;
	}
	.alert-close {
	right: 12px;
	top: 22px;
	}
	form {
	padding: 1.5em 1.5em;
	}
	.submit {
	padding-top: 0.4em;
	}
	input[type="submit"] {
		float:none;
	padding: 11px 0px;
	width: 52%;
	font-size: 15px;
	}
	.submit h4 {
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.submit h4 a {
	float: none;
	font-size: 15px;
	}
	.footer {
	left: 22%;
	bottom: 59px;
	}
	
}



body {
	font-family: sans-serif;
	font-weight: normal;
	margin: 10px;
	color: #999;
	background-color: #eee;
}

form {
	margin: 40px 0;
}

.test {
	clear: both;
	margin: 0 50px;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}


/* 라벨 넓이 높이 글자 마진 (text-indent) */
/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	/* line-height: 2.5em; */
	line-height:4em;
	text-indent: 3.25em;
	text-align:center;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 4em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	text-align: center;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: initial;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: initial;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}
#fishList
{
	margin-left:210px;
}

.category, .fishName
{
	cursor:pointer;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 23px -2px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 23px -2px #97c4fe;
	box-shadow:inset 0px 1px 23px -2px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:2px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:4px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
